---
layout: default
---

<div class="relative bg-white overflow-hidden">
  <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
    <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
      <div class="flex items-center flex-1">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="#">
            <span class="sr-only">SoFloRuby</span>
            <img class="w-full h-auto max-h-40" src="/assets/sofloruby-logo.png" alt="">
          </a>
        </div>
      </div>
    </nav>

    <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-12">
      {{ content }}
    </main>
  </div>
</div>
